#root {
  padding: 0;
  height: 100%;
}

.header-card {
  margin-top: 0px;
  height: 5rem;
  background-color: #CE2829; 
  color: white;
  text-align: center;
}

.head {
  font-size: 1rem;
  margin-top: 1rem;
  font-family: 'Barlow', sans-serif;
}

.header-text{
  font-family: 'Barlow', sans-serif;
  font-size: .5rem;
  margin-top: 1.7rem;
  margin-bottom: .2rem;
  margin-right: 10rem;
}
.order-form{
  display: flex;
  justify-content: center;  /* Yatay ortalama */
  align-items: center;      /* Dikey ortalama */
  height: 100%;
  
 
}
.siparis-card {
  border: 1px solid black;
  width: 45%;
  font-size: 0.5rem;
}
.price-rating {
  display: flex; /* Flexbox kullanarak içeriği yatay hizala */
  justify-content: space-between; /* İki elementi ayrı uçlara hizala */
  align-items: center; /* Dikeyde ortala */
  width: 100%; /* Container'ın genişliği */
}

.rating {
  display: flex; 
  gap: 5px;
}
.size-dough {
  display: flex; 
  justify-content: left;
  gap: 5rem;
  align-items: center; 
  width: 100%;
}
.options {
  display: flex;
  justify-content: space-between;
  
}
.order{
  display: flex;
  justify-content: space-between;

}
.footer{
  border: 1px solid black;
}
.total {
 
  display: flex;
  justify-content: space-between;

}
option {
  font-size: 0.2rem;
}
textarea {
  width: 100%;
  height: 30px;
}